<!DOCTYPE html>
<html lang="en">
<head>
 {{>headerlinks}}
    <title>Page Not Found</title>

</head>
<body>

   {{!-- nav bar --}}
   {{>navbar}}

  <!-- main header -->
  <div class="cointainer-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
                  <div class="row">
    <!-- Right side div -->
                     <div class="col-md-12 col-12 main_header_right align-items-center main_header_left">
                          <figure class="errimg">
                              <img src="images/404.jpg" alt="bikal" class="img-fluid" title="bikal photo">
                           </figure>
        
                           <h1 class="errheadeing">{{errName}}</h1>
                          
                             <a href="/"> <button>Go back</button> </a>
    
                  </div>
         </div>
    </div>
   </div>   
   </div>      
   {{!-- Footer of the page --}}
   {{>footer}}
</body>
</html>