<!DOCTYPE html>
<html lang="en">
<head>
 {{>headerlinks}}
    <title>About us</title>

</head>
<body>

   {{!-- nav bar --}}
   {{>navbar}}

  <!-- main header -->
  <div class="cointainer-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
                  <div class="row">
    <!-- Right side div -->
                     <div class="col-md-6 col-12 main_header_right align-items-center">
                          <figure>
                              <img src="images/pic-5.jpg" alt="bikal" class="img-fluid w-50 figimg" title="bikal photo">
                           </figure>
                     </div>
                   
                      <!-- left side div -->
                      <div class="col-md-6 col-12 main_header_left"> 
                             <p>Welcome to the Bikal's weather app</p>
                             <h1>I am <span class="text-color">Bikal siwakoti ! </span> And i am a Web Developer</h1>
                             <a href="/about" target="_blank"> <button>About Me</button> </a>
                      </div>
 
                  </div>
         </div>
    </div>
   </div>         
   {{!-- Footer of the page --}}
   {{>footer}}
</body>
</html>